* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: [um] 1fr [dois] 1fr [tres] 1fr [quatro];  /*nomeando as colunas (não é pratico) e dando os valor em fragmentos aos itens*/
    grid-template-rows: [um] 1fr [dois] 1fr [tres] 1fr [quatro];  /*nomeando as linhas (não é pratico) e dando os valor em fragmentos aos itens*/
    gap: 30px;
}

.grid div {
    background-color: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background-color: darkred;
    /* grid-column-start: um;
    grid-column-end: quatro; */
    /* grid-column:  span 2 / span 2;
    grid-row: um / quatro; */
    grid-area: 1 / 1 / 4 / 3  /*row-start / column-start / row-end / column-end*/
}