/*
Especificidade
Empate
style
!important

Style   ID  Classes, atributos e pseudo-classes   Elementos e pseudo-elementos
  1      1     0                                      0
  0      0     1                                      0
  0      1     1                                      0

!important
*/

body#b.bclass p#p.p {
    background: purple !important;
}

#p {
    background: red;
}

#p.p {
    background: yellow;
}

p {
    background: blue !important;
}
