html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.pai {
    width: 50rem;    /*50*10px=500px*/
    height: 100vh;
    background-color: yellow;
    overflow: hidden;
}

.pai > div {
    width: 50%;
    height: 50rem;
    background: blue;
}

p {
    font-size: 2vmax;
}

.color-one {
    background: turquoise;
}

.color-two {
    background: violet;
}