* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: space-between; /*Desnecessario quando usamos o flex-grow no item*/
    align-items: flex-start;
    flex-flow: row nowrap;
    background-color: yellow;
    height: 800px;
}

.flex-item {
    /* flex-grow: 1; quanto maior o valor maior o item será e quanto menor o valor menor o objeto será  Quando usamos essa proprieadade o justify-content é desnecessario
    flex-shrink: 0; quanto menor o valor maior o item será e quanto maior o valor menor o objeto será
    flex-basis: 320px; */
    /* flex: 1 1 320px; flex-grow, flex-shrink e flex-basis */
    width: 100%;
    color: white;
    background-color: red;
}

/* .flex-item:nth-child(3) {
    align-self: flex-end;  aqui eu peço para alinhar o terceiro item de forma idependente aos outos
}

.flex-item:nth-child(4) {
    align-self: center;   aqui eu peço para alinhar o quarto item de forma idependente aos outos
}

.flex-item:nth-child(2) {
    align-self: stretch;  aqui eu peço para alinhar o segundo item de forma idependente aos outos
} */

.flex-item:nth-child(1) {
    order: 5;                 /*altero a ordem do item 1 para a posição 5*/
}

.flex-item:nth-child(2) {
    order: 4;                 /*altero a ordem do item 2 para a posição 4*/
}

.flex-item:nth-child(3) {
    order: 3;                 /*altero a ordem do item 3 para a posição 3*/
}

.flex-item:nth-child(4) {
    order: 2;                 /*altero a ordem do item 4 para a posição 2*/
}

.flex-item:nth-child(5) {
    order: 1;                 /*altero a ordem do item 5 para a posição 1*/
}