* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;    */
    /*definimos quantas colunas irá ter e falamos o tamanho de cada coluna da grid*/ 
    /*repeat(Qtd de repetições, valor do tamando da coluna a ser repetido)*/ 
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    /*repeat(auto-fill, minmax(320px, 1fr)) serve para redimencionamento de telas delcarando o minimo e maximo que a coluna pode ter e o auto fill significa que a quantidade de colunas vai depender do tamanho disponivel na tela*/
    /*fr = fragmentos ou resto*/
    /* grid-template-rows: repeat(3, 1fr 2fr);*/
    /*definimos quantas linhas irá ter e falamos o tamanho de cada coluna da grid*/
    /*repeat(Qtd de repetições, valor do tamando da coluna a ser repetido)*/
    gap: 30px;
}

.grid div {
    background-color: tomato;
    min-height: 100px;
}

.grid div:nth-child(5) {
    background-color: darkred;
    grid-row: span 1;
    grid-column: span 2;
}

@media (max-width: 768px) {
    .grid div:nth-child(5) {
        grid-column: span 1;
    }
}