* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start; /*Alinha o conteúdo*/
    background-color: yellow;
    height: 640px;
}

.flex-item {
    width: 33.33%;
    color: white;
    background-color: red;
}
