* {
    margin: 0;
    padding: 0;
}

/* h1, p {
    color: purple;
}

body div section p,
body div section h1 {
    color: red;
} */

.color-red {
    color: red;
}

div.main-content h2.heading {
    font-style: italic;
    color: red;
}

div {
    color: initial;
    margin-left: 20px; 
}

/* .pai.filha{
    color: red;  Caso tiver a classe pai e filha no mesmo seletor
} */

.pai > .filha > span > .filha {
     color: red;   /* Child selector */
}
