:root {
    --primary-color: #0A1128;         /*var(--primary-color);*/
    --white-color: #FFFFFF;          /*var(--white);*/
    --light-gray-color: #EEEEEE;    /*var(--light-gray-color)*/ 
    --secondary-color: #DC143C;
    --gap: 3rem;
}
