* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 24px;
}

p {
    margin: 0 0 20px;
}

.two-columns {
    display: flex;
    background-color: yellow;
}

.two-columns .col {
    display: flex;
    flex-direction: column;
    background-color: lawngreen;
    margin: 15px;
    padding: 30px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
}

.gallery .img {
    flex: 1 0 20%;
    height: 50px;
    background-color: blue;
    margin: 10px;
}