* {
    margin: 0;
}

ul {
    height: 100px;
    overflow-y: auto;
}

ul li.sticky {
    position: sticky;
    background-color: grey;
    top: 0;
}

/* .pai {
    height: 300vh;
}

.filha1, .filha2, .filha3 {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 0, 0, 1);
    margin: 10px;
    position: static;
}

.filha1 {
}

.filha2 {
    background-color: greenyellow;
    position: fixed;
    top: 30%;
    right: 0;
}

.filha3 {
    background-color: blue;
    position: relative;
    top: 100px;
    left: 100px;
}

.outra {
    position: absolute;
    font-size: 50px;
    background-color: #fff;
    right: 50px;
    bottom: 50px;
} */